<div class="page-layout blank p-24" fusePerfectScrollbar >
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
      <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
        <mat-card-header>
          <mat-card-title fxLayoutAlign="center">Welcome to Prompt</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
          <p>
            Thanks for joining the leading cloud-based construction software. We're glad you're here!
            Please complete the following steps to set up your account.
          </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="accent" type="button"  routerLink="/AccountSetup" >Get Started</button>
        </mat-card-actions>
        </mat-card>
    </div>

</div>