.container{
    margin-top:15px;
}




h1{
    color: #676767;
    /* font-size: 20px; */
    font-weight: 700;
    text-align: center;
    margin: auto auto 8px;
    width: 100%;
    place-content: stretch center;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    font-size: 36px;
}


