<div class="page-layout blank p-24" fusePerfectScrollbar >
  <h1 fxLayoutAlign="center">Let's Build Something Great.</h1>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
      <mat-card class="example-card p-33" style="background: #54a4f3;">
            <img mat-card-image src="/assets/images/concierge/create.jpg" >
        <mat-card-content>
          <h2 fxLayoutAlign="center" style="color: white">
            Create Project
          </h2>
          <h4 fxLayoutAlign="center" style="color: white">Drill right in and create a project.</h4>
        </mat-card-content>
      </mat-card>
    </div>

    
    <div fxFlex="50%">
      <mat-card class="example-card">
            <img mat-card-image src="/assets/images/concierge/eye.png" >
        <mat-card-content>
          <h2 fxLayoutAlign="center">
            View Sample Project
          </h2>
          <h4 fxLayoutAlign="center">We created a sample project for you to explore.</h4>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <h2 class="configureDiv">
        configure
 </h2>


  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center">
    <div fxFlex="25%">
      <mat-card class="example-card" routerLink = "/GetStarted" class="mat-card-height">
            <img mat-card-image src="/assets/images/concierge/1.jpg" class="card-image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          
          <mat-card-title><h2>Account Setup</h2></mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <!-- <mat-list role="list" >
               <mat-list-item role="listitem"><mat-icon>label_important</mat-icon>Verify your company information</mat-list-item>
               <mat-list-item role="listitem"><mat-icon>label_important</mat-icon>Invite your Team</mat-list-item>
                <mat-list-item role="listitem"><mat-icon>label_important</mat-icon>Download the mobile app</mat-list-item>
              </mat-list> -->
              <ul class="style_summary__cSD-e"><li>Verify your company information</li><li>Invite your Team</li><li>Download the mobile app</li></ul>
        </mat-card-content>
      </mat-card>
    </div>


    <div fxFlex="25%" >
      <mat-card class="example-card" routerLink = "/UploadDirectory" class="mat-card-height">
            <img mat-card-image src="/assets/images/concierge/3.jpg" class="card-image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h2>Upload Directory</h2></mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul class="list"><li>Access the Directory template</li><li>Upload your completed Excel file</li></ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="25%">
      <mat-card class="example-card" routerLink = "/Integrations"  class="mat-card-height">
            <img mat-card-image src="/assets/images/concierge/cost_codes2.png" class="card-image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h2>Customize Cost Codes</h2></mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul class="style_summary__cSD-e"><li>Access the Cost Codes templates</li><li>Upload your completed Excel file</li></ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="25%">
            <mat-card class="example-card"  routerLink = "/Integrations" class="mat-card-height" >
                <img mat-card-image src="/assets/images/concierge/plug.png" class="card-image">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><h2>Integrations</h2></mat-card-title>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                    <ul class="style_summary__cSD-e"><li>Browse featured integrations from the Procore Marketplace</li><li>Get access to the integrations you need</li></ul>
                </mat-card-content>
            </mat-card>
          </div>
  </div>

</div>