.container{
    margin-top:15px;
}
h1{
    color: #676767;
    /* font-size: 20px; */
    font-weight: 700;
    text-align: center;
    margin: auto auto 8px;
    width: 100%;
    place-content: stretch center;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    font-size: 36px;
}

.card-image {
    width: 45%;
    margin: 4em;
    height: 35%;
    background-size: cover;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mat-card-height {
    /* height: 55vh;
    width: 38rem; */
}


