<div class="page-layout blank p-24" fusePerfectScrollbar>
  <h1 fxLayoutAlign="center">Let's Build Something Great.</h1>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="8.5%" fxLayoutAlign="center">
    <div fxFlex="45%">
      <mat-card class="example-card p-33">
        <mat-card-content>
          <h3 fxLayoutAlign="center">
            Create Project
          </h3>
        </mat-card-content>
      </mat-card>
    </div>


    <div fxFlex="45%">
      <mat-card class="example-card" routerLink = "sample">
        <mat-card-content >
          <h3 fxLayoutAlign="center">
            View Sample Project
          </h3>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="33%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h2>Account Setup</h2></mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <!-- <mat-list role="list" >
               <mat-list-item role="listitem"><mat-icon>label_important</mat-icon>Verify your company information</mat-list-item>
               <mat-list-item role="listitem"><mat-icon>label_important</mat-icon>Invite your Team</mat-list-item>
                <mat-list-item role="listitem"><mat-icon>label_important</mat-icon>Download the mobile app</mat-list-item>
              </mat-list> -->
              <ul class="style_summary__cSD-e"><li>Verify your company information</li><li>Invite your Team</li><li>Download the mobile app</li></ul>
        </mat-card-content>
      </mat-card>
    </div>


    <div fxFlex="33%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h2>Upload Directory</h2></mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul class="list"><li>Access the Directory template</li><li>Upload your completed Excel file</li></ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h2>Customize Cost Codes</h2></mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <ul class="style_summary__cSD-e"><li>Access the Cost Codes templates</li><li>Upload your completed Excel file</li></ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>